useDynLib(MulEA)

# Imports:
import(methods)
import(DBI)
import(RSQLite)
import(plyr)
import(fgsea)
importFrom("stats", "ks.test", "p.adjust", "phyper")
importFrom("utils", "count.fields", "read.table")
importFrom(Rcpp, evalCpp)

# Exports:
export(readGmtFileAsDataFrame)
export(saveDataFrameAsGmtFile)
export(set.based.enrichment.test)

export("SetBasedTest")
export("RankedBasedTest")

exportMethods(runTest)

# Exports from Rcpp:
#export(trial)

# Export all:
#exportPattern("^[[:alpha:]]+")
